body {
  background-color: greenyellow;
  font-family: "RX100", sans-serif;
  margin: 20px;
  overflow: hidden;
}
header {
  background-color: #ffffffab;
  border-radius: 20px;
  height: 95vh;
}
.container {
  .main__wrapper {
    .sidebar__navigation {
      display: flex;
      justify-content: center;
      border-bottom: 0.01px solid rgb(88, 88, 88);
    }
    nav ul {
      display: inline-flex;
      align-items: center;
    }
    nav a {
      text-decoration: none;
      color: black;
      display: inline-block;
      align-items: center;
    }

    nav ul li {
      list-style: none;
      padding: 10px 10px;
      font-size: 16px;
      font-family: "Switzer", sans-serif;
      font-weight: normal;
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  font-family: "Switzer", sans-serif;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.hero__container {
  .hero__content {
    padding: 0px 100px;
  }
  .hero__content a {
    font-size: 15px;
    border: 1px solid black;
    font-family: "Switzer", sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
    text-decoration: none;
    padding: 0px 25px;
  }

  .hero__content h1 {
    font-size: 250px;
  }
}
